.register {
    --padding: 2rem 1.75rem;
    --font-family: 'Poppins';
}

.register {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    background-color: gray;
    padding: var(--padding);
    user-select: none;
}

.register_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 6rem;
    height: 6rem;
    top: -3rem;
    border-radius: 50%;
    background-color: aqua;
}

.register_logo {}

.register_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: green;
}

.register_fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    gap: 0.5rem;
}

.register_footer {
    display: flex;
    margin-top: 0.5rem;
    font-size: 11px;
    gap: 0.5rem;
}

.register_footer #login {
    text-decoration: underline;
    cursor: pointer;
}

.register_footer #login:hover {
    color: var(--color-primary);
}