.product {
    position: relative;
    margin-bottom: 1rem;
    font-family: var(--font-primary);
    border-radius: 0.75rem;
    user-select: none;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 7px #666;
}

.product:hover {
    box-shadow: 0px 0px 7px var(--color-primary);
}

.product_image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    background-color: transparent;
}

.product_image img {
    width: 100%;
    height: 100%;
    max-height: 400px;
}

.product_info {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    background-color: rgba(255, 255, 255, 0.75);
    gap: 0.25rem;
}

.product_name {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
    min-height: 3em;
    font-size: 18px;
    overflow: hidden;
}

.product_ratings {
    display: flex;
    align-items: center;
}

.product_ratings_star  {
    display: flex;
    align-items: center;
    height: fit-content;
    color: #FDCC0D;
    gap: 0.1rem;
}

.product_ratings #num_reviews {
    margin: 3px 0 0 3px;
    font-size: 11px;
}

.product_sold {
    margin-left: auto;
    padding: 0 0.5rem;
    font-size: 13px;
}

.product_price {
    display: flex;
    font-family: 'Times New Roman';
}

.product_price #price {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-primary);
}

.product_price #price #currency {
    margin-right: 1px;
    font-size: 12px;
}

.product_price #original_price {
    margin-left: 0.2rem;
    font-size: 11px;
    font-weight: 500;
    color: var(--color-dark);
    text-decoration: line-through;
}

.product_stock {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0 0.5rem;
    font-size: 12px;
}

.product_seller {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: 0.5rem;
    padding: 0.2rem 1rem 0.2rem 0.2rem;
    border-radius: 5px;
}

.product_seller:hover {
    background-color: #00000020;
}

.product_seller img {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
    border-radius: 50%;
}

.product_seller_name {
    position: relative;
}

.product_seller_name #mark {
    position: absolute;
    top: -5px;
    color: var(--color-primary);
}

.product_controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0 0.5rem 0;
    gap: 0.75rem;
}

.product_controls button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    font-weight: 600;
    color: white;
    background-color: var(--color-primary);
    cursor: pointer;
}

.product_favourite {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    padding: 0.25rem;
    font-size: 25px;
    border-radius: 50%;
    color: #DC143C;
    background-color: #FEFCFF;
    opacity: 0.75;
}

.product_favourite:hover {
    opacity: 1;
}

.product_discount {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0.1rem 0.35rem;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px 0 5px 0;
    background-color: var(--color-primary);
}