.resetpwd {
    --padding: 2rem 1.75rem;
    --font-family: 'Poppins';
}

.resetpwd {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    border: 2px solid var(--color-primary);
    background-color: white;
    padding: var(--padding);
    user-select: none;
}

.resetpwd_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: green;
}

.resetpwd_fields {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1rem;
}

.resetpwd_fields input {
    text-align: center;
    width: 2rem;
    height: 2rem;
    outline: none;
    border: 1px solid var(--color-primary);
    border-radius: 0.25rem;
    caret-color: transparent;
}

.resetpwd_fields input:focus {
    border: 1.5px solid var(--color-primary);
    box-shadow: 0px 0px 3px 1px var(--color-primary);
}

.resetpwd_recaptcha {
    margin-top: 1rem;
}