:root {
    --app-header-height: 60px;

    --font-primary: 'sans-serif';

    --color-primary: #FC4000;
    --color-secondary: cyan;
    --color-dark: #16181B;
    --color-text-primary: white;
}

.container {
    max-width: 1280px !important;
}